@import '../../lilypad.scss';

.lilypad-input {
  border-width: 2px;
  border-color: $theme-color-black-accent;
  border-style: solid;
  border-radius: 8px;
  height: 14px;
  font-size: $font-size-regular;
  padding: 8px;
  color: $theme-color-black;

  &:focus {
    outline-color: $theme-color-selected;
  }

  &::placeholder {
    color: $theme-color-black-accent;
  }
}

.lilypad-input-label {
  font-size: $font-size-regular;
  margin-top: 0px;
  margin-bottom: 6px;
  margin-left: 4px;
}

.lilypad-input-hint {
  font-size: $font-size-small;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 4px;
}

.lilypad-input-field-invalid {
  .lilypad-input {
    border-color: $theme-color-warning;
  }

  .lilypad-input-hint {
    color: $theme-color-warning;
  }
}

.lilypad-input-field-valid {
  .lilypad-input {
    border-color: $theme-color-success;
  }

  .lilypad-input-hint {
    color: $theme-color-success;
  }
}

.lilypad-input-field:has(.lilypad-input:focus) > .lilypad-input-label {
  color: $theme-color-selected;
}

.lilypad-input-field.lilypad-input-icon-showing
  .lilypad-input-container
  .lilypad-input {
  padding-right: 30px;
}

.lilypad-input-field-valid .lilypad-input-container .lilypad-input-icon {
  color: $theme-color-success;
}

.lilypad-input-field-invalid .lilypad-input-container .lilypad-input-icon {
  color: $theme-color-warning;
}

.lilypad-input-icon {
  height: 20px;
  width: 20px;
  position: relative;
  left: -28px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.lilypad-input-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: min-content;
}
