@import '../main.scss';

$animation-speed: 0.25s;

.lilypad-button {
  background-color: $theme-color-froggy-green;
  color: $theme-color-black;
  border: 0;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  font-size: 14px;

  transition: color $animation-speed, background-color $animation-speed;

  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    background-color: $theme-color-disabled;
    color: $theme-color-disabled-accent;
  }
}
