@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$invalid-color: rgb(255, 0, 0);
$invalid-color-background: rgb(255, 0, 0, 0.25);
$selected-color: #2196f3;

p,
input,
button {
  font-family: 'Roboto', sans-serif;
}
