@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-size-regular: 14px;
$font-size-small: 12px;

$theme-color-black: rgb(0, 0, 0);
$theme-color-black-accent: rgb(173, 172, 172);
$theme-color-success: rgb(55, 219, 55);
$theme-color-warning: rgb(255, 0, 0);
$theme-color-selected: rgb(33, 150, 243);
$theme-color-selected-transparent: rgba(33, 150, 243, 0);

p,
input,
button {
  font-family: 'Roboto', sans-serif;
}

$a: 1;

.p-#{$a} {
  padding: 1px !important;
}
